name: Build Project

on:
  push:
    branches: [ master , dev-easywan ]
  pull_request:
    branches: [ master ,  dev-easywan]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
        cache: gradle
    - run: ./gradlew build --no-daemon --stacktrace
